@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

@keyframes shine {
	0% {
		background-position: -200% 0;
	}
	100% {
		background-position: 200% 0;
	}
}

.shine-animation {
	animation: shine 2s ease-in-out infinite;
}
